<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke</td><td>HomePageTest.orderHistoryandDetailsTest(java.lang.String, java.lang.String)[pri:0, instance:Tests.HomePageTest@5700d6b1]<br/>HomePageTest.wishListTest(java.lang.String, java.lang.String)[pri:0, instance:Tests.HomePageTest@5700d6b1]<br/></td></tr>
</table>
