<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2cbe0">  <td>21/06/02 15:18:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.LaunchApplication()[pri:0, instance:Tests.HomePageTest@5700d6b1]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>21/06/02 15:19:22</td>   <td>58833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.orderHistoryandDetailsTest(java.lang.String, java.lang.String)[pri:0, instance:Tests.HomePageTest@5700d6b1]">orderHistoryandDetailsTest</td> 
  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>21/06/02 15:19:44</td>   <td>81143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.HomePageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
</table>
