<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bdab">  <td>21/06/02 22:19:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.LaunchApplication()[pri:0, instance:Tests.EndToEndTest@2d928643]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>main@1641313620</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/06/02 22:20:10</td>   <td>39978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.endToEndTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.EndToEndTest@2d928643]">endToEndTest</td> 
  <td>main@1641313620</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>21/06/02 22:20:38</td>   <td>67725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.EndToEndTest@2d928643]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1641313620</td>   <td></td> </tr>
</table>
